# Google Maps Browser Key and Tracking ID for maps integration
VITE_LOVABLE_CONNECTOR_GOOGLE_MAPS_BROWSER_KEY=
VITE_LOVABLE_CONNECTOR_GOOGLE_MAPS_TRACKING_ID=
LOVABLE_PREVIEW_HOST=id-preview-4be6a3df--ec7aa494-0b27-4dd5-9680-5387d979d3f4.lovable.app
